<nav class="navbar navbar-expand-lg navbar-light header">
    <div class="container-fluid">
      <ul class="navbar-nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/add-subscription">Add subscription</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/remove-subscription">Remove subscription</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/edit-profile">Edit profile</a>
        </li>
      </ul>
  
      <ul class="navbar-nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link sign-out" (click)="signOut()">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  